body {
    font-family: 'Poppins', sans-serif;
    background: #f8f9fa;
}

.container {
    max-width: 600px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    animation: slideDown 1s ease-in-out;
    color: black;
    font-weight: 700;
}


.form-group {
    animation: fadeIn 1.5s ease-in;
}

@keyframes slideDown {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}